.pirmakaste {    
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 10%;
  margin: 30%;
}

.kaste {    
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 50px 20px 50px 20px;
}
.bilde {
  max-width: 15%;
  height: auto;
}
p.round3 {
  border: 7px solid black;
  border-radius: 8px;
  padding: 5px;
  {
</style>
</head>
<body>
     <p class="round3">vārds</p>

      
    <p class="round3">Roundest border</p>
  </body>
</html>
